<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <viewport content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Transcription And Summerization</h1>
        <form method="post" id="response-form" enctype="multipart/form-data">
            <div class="textareas-container">
                <div class="textarea-wrapper">
                    <label for="transcript">Transcription</label>
                    <textarea id="transcript", name="transcript" placeholder="Transcription Output..."></textarea>
                </div>
                <div class="textarea-wrapper">
                    <label for="summary">Summary</label>
                    <textarea id="summary" name="summary" placeholder="Summary Output..." readonly></textarea>
                </div>
            </div>
    
            <div class="buttons-container">
                <button type="button" id="toggle-btn">Record Voice</button>
                <button type="submit" id="submit-btn" value="Submit">Summarize</button>
            </div>
        </form>
    
    
    
        <!-- speech recognition -->
        <script>
            let toggleBtn = document.getElementById("toggle-btn");
            let textarea = document.getElementById("transcript");
            let isRecording = false;
            let speechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
            let recognizer = new speechRecognition();
            recognizer.lang = "en-US";

            // recognizer.lang = "hi";

            recognizer.continuous = true;
            recognizer.interimResults = true;

            let finalTranscript = "";

            toggleBtn.addEventListener("click", function() {
                if (!isRecording) {
                    recognizer.start();
                    toggleBtn.textContent = "Listening";
                    toggleBtn.classList.add("recording");
                } else {
                    recognizer.stop();
                    toggleBtn.textContent = "Not Listening";
                    toggleBtn.classList.remove("recording");
                    // Add a space when stopping the recognition
                    finalTranscript += " ";
                }
                isRecording = !isRecording;
            });

            recognizer.onresult = function(event) {
                let interimTranscript = "";
                for (let i = event.resultIndex; i < event.results.length; i++) {
                    let transcript = event.results[i][0].transcript;
                    if (event.results[i].isFinal) {
                        finalTranscript += transcript;
                    } else {
                        interimTranscript += transcript;
                    }
                }
                textarea.value = finalTranscript + interimTranscript;
            };

            recognizer.onerror = function(event) {
                console.error("Speech recognition error", event.error);
            };
        </script>
    </body>
</html>